.task-form {
  margin-bottom: 1rem;
}

.task-form .p-inputtext {
  width: 100%;
  margin-bottom: 1rem;
}

.task-form-buttons {
  display: flex;
  justify-content: flex-end;
}

.task-buttons {
  display: flex;
  justify-content: flex-end;
}
